@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
  --blue: #0d7fb2;
  --blue-alt: #065888;
  --text: #033552;
  --footer: #01103e;
  --light: #f9f9f8;
  --bg: #f9f9f8;
  --white: #ffffff;
  --transition: 0.4s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  transition: var(--transition);
  font-size: 65%;
}

body {
  line-height: 1.4;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
  transition: var(--transition);
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 80%;
  height: max-content;
  margin: 0 auto;
  padding: 4rem 0;
}

h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.7rem;
  text-align: justify;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
}

.btn:hover {
  background-color: var(--blue-alt);
}
